<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel El Rosarino</title>
    <link rel="stylesheet" href="../ubicacion/ubicacion.component.css">
    <link rel="icon" type="image/x-icon" href="/Hotel/Imagenes/favicon-16x16.png" />
    <!--ICONOS-->
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script> 
</head>
<body>
    <header>
        <div class="logo">
            <img src="Imagenes/Hotel El Rosario-logos_black.png" alt="">
            
        </div>
        <nav class="container-up">
            <div class="menu">
                <a class="menu-item" href="../home/home.component.html">HOME </a>
                <a class="menu-item" href="../reserva/reserva.component.html">RESERVAR </a>
                <a class="menu-item" href="../habitacione/habitacione.component.html">HABITACIONES </a>
                <a class="menu-item" href="">SERVICIOS </a>
                <a class="menu-item" href="../ubicacion/ubicacion.component.html">UBICACIÓN </a>
                <a class="menu-item" href="../consultar-reserva\consultar.component.html">CONSULTAR RESERVAS </a>
            </div>
        </nav>
   </header>

<section class="ubicacionBox">
    <div class="textoHER">
        <h1 class="texto">HER está ...</h1>
    </div>
        <article class="contenedores">
            <div class="conteiner">
            <ul>
                    <li>Ubicado a 100m de una panaderia</li>
                    <li>Ubicado en el centro de la ciudad</li>
                    <li>Ubicado a 600m del Rio Parana</li>
                    <li>Ubicado en una zona segura</li>
                    <li>Ubicado a 400m de Blvd.Oroño</li>
                    <li>Ubicado a 300m de la plaza más cercana</li>
            </ul>
            </div>
            <div class="conteiner2">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="450" height="350" id="gmap_canvas" src="https://maps.google.com/maps?q=urquiza+1743&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" marginheight="0" marginwidth="0">
                        </iframe><a href="https://textcaseconvert.com/"></a>
                        <br>
                        <a href="https://online-timer.me/"></a><br>
                        <style>.mapouter{position: relative;text-align: right;height: 350px;width: 450px;}</style>
                        <a href="https://www.embedmaps.co">embed google maps api</a>
                        <style>.gmap_canvas{overflow: hidden;background: none !important;height: 350px;width: 450px;}</style>
                    </div>
                </div>
            </div>
        </article>
</section>
<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="Imagenes/Hotel El Rosario-logos.jpeg" alt="Logo de Hotel El Rosarino">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Somos una empresa hotelera que busca ayudar a los clientes a tener una excelente experiencia dentro de nuestras instalaciones.</p>
            <p>Veni a conocernos, te esperamos!</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>Hotel El Rosario</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>
</body>
</html>


