<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reserva.component.css">
    <title>RESERVAS-HOTEL</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="Imagenes/Hotel El Rosario-logos_black.png" alt="">
            
        </div>
        <nav class="container-up">
            <div class="menu">
                <a class="menu-item" href="../home/home.component.html">HOME </a>
                <a class="menu-item" href="../reserva/reserva.component.html">RESERVAR </a>
                <a class="menu-item" href="../habitacione/habitacione.component.html">HABITACIONES </a>
                <a class="menu-item" href="">SERVICIOS </a>
                <a class="menu-item" href="../ubicacion/ubicacion.component.html">UBICACIÓN </a>
                <a class="menu-item" href="../consultar-reserva\consultar.component.html">CONSULTAR RESERVAS </a>
            </div>
        </nav>
    </header>

    <form class="formulario">
     <h2 class="titulo_form">RESERVAS</h2>
     <div class="contenedor_form">
         <div class="grupo_form">
             <input type="text" id="nombre" class="ingreso_form" placeholder=" " required>
             <label for="name" class="label_form">Nombre Completo: </label>
             <span class="linea_form"></span>
         </div>
         <div class="grupo_form">
             <input type="text" id="nombre" class="ingreso_form" placeholder=" "required>
             <label for="name" class="label_form">Email: </label>
             <span class="linea_form"></span>
         </div>
         <div class="grupo_form">
             <input type="text" id="nombre" class="ingreso_form" placeholder=" ">
             <label for="name" class="label_form">Direccion: </label>
             <span class="linea_form"></span>
         </div>
         <div class="grupo_form">
             <input type="text" id="nombre" class="ingreso_form" placeholder=" ">
             <label for="name" class="label_form">Telefono: </label>
             <span class="linea_form"></span>
         </div>
         <div class="grupo_form">
             <input type="text" id="nombre" class="ingreso_form" placeholder=" " required>
             <label for="name" class="label_form">Fecha Ingreso(dd/mm/aa): </label>
             <span class="linea_form"></span>
         </div>
         <div class="grupo_form">
             <input type="text" id="nombre" class="ingreso_form" placeholder=" " required>
             <label for="name" class="label_form">Fecha Salida(dd/mm/aa): </label>
             <span class="linea_form"></span>
         </div>
             <input type="submit" class="submit_form"value="Continuar">
     </div>
    </form>
 </body>

 <footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="Imagenes/Hotel El Rosario-logos.jpeg" alt="Logo de Hotel El Rosarino">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Somos una empresa hotelera que busca ayudar a los clientes a tener una excelente experiencia dentro de nuestras instalaciones.</p>
            <p>Veni a conocernos, te esperamos!</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>Hotel El Rosario</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>

 </html>