*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}

/* CODIGO DEL MENU */

header{
    background-color: rgba(255, 228, 196, 0.623);
    width: 100%;
    clear: both;
    display: flex;
    margin: 0;

}
.Menu{
    align-items: center;
    display: block;
    margin: 0;
}

.logo{
    display: flex;
}
.logo img{
    height: 74px;
    margin-right: 50px;
    width: auto;
    display: flex;
    margin-left: 15px;

}
.menu-item{
    margin-left: 80px;
    padding: 25px 0;
    float: left;
    list-style:none ;
    text-decoration: none;
    color: #444444;
    font-weight: bold;
  }

/* ------------------------------------------------------------- */ 

body{
    background-color: #ffffff;
    background-size: cover;
    background-image: url(/Hotel/Imagenes/imagenFondoReserva.jpg);
    background-position: center center;

}
.container-down{
    display: flex;
    width: 100%;
    max-width: 1100px;
    min-height: 70vh;
    padding-bottom: 220px;
    margin-left: 100px;
}
.tarjeta{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden; /*lo que sobra se esconde */ 
    background-color: rgb(228, 228, 228);
    /*box-shadow: 0px 1px 10px rgba(240, 11, 11, 0.623);*/ /* SOLO MUESTRA UN BORDE AL REDEDOR DE CADA CAJA */
    transition: all 400ms ease;
    margin-left: 20px;
    margin-right: 20px;
}

.tarjeta:hover{
    box-shadow: 5px 5px 2px rgb(196, 196, 196);
    transform: translateY(-3%);
}
.tarjeta img{
    width: 100%;
    height: 100%;
    border-style:solid;
    border-color: rgb(177, 177, 177);
}

.tarjeta .contenido{
    padding: 15px;
    text-align:center;
    align-items: center;
}

.tarjeta .contenido p{
    line-height: 1.5;
    color: #353535;
}

.tarjeta .contenido h3{
font-weight: 400px;
margin-bottom: 10px;
}




/* --CSS DE FOOTER-- */

.pie-pagina{
    width:100%;
    background-color: #0a141d;

}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #c2994e;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #0a141d;
}
.pie-pagina .grupo-2{
    background-color: #c2994e;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

