

/* CODIGO DEL MENU */ 

header{
    background-color: rgba(255, 228, 196, 0.623);
    width: 100%;
    clear:both;
    display: flex;
    margin: 0;
}
.Menu{
    align-items: center;
    display: block;
    margin: 0;
}

.logo{
    display: flex;
}
.logo img{
    height: 74px;
    margin-right: 50px;
    width: auto;
    display: flex;
    margin-left: 15px;

}
.menu-item{
    margin-left: 80px;
    padding: 25px 0;
    float: left;
    list-style:none ;
    text-decoration: none;
    color: #444;
    font-weight: bold;
  }

/* --CSS DEL BODY-- */
body{
    background-color: #0a141d;
    /*background-image: url(/Hotel/Imagenes/exterior.jpg);*/
}
.container_home{
        width: 100%;
        margin: 5px; /*con 0 no da espacion entre conteneirs*/
        overflow: hidden; /*lo que sobra se esconde */ 
        background-color: #0a141d;
        /*box-shadow: 0px 1px 10px rgba(240, 11, 11, 0.623);*/ /* SOLO MUESTRA UN BORDE AL REDEDOR DE CADA CAJA */
        margin-left: 25px;
        margin-right: 20px; /*Margenes a la caja*/
        display: flex; /*Permite poner las imagenes al lado del texto*/
        justify-content: flex-start; /*Texto del lado izquierdo*/
        border-radius: 0.5rem; /*Le quita las esquinas a la caja*/
}
.data_home{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    align-content: space-between;
}
.boton_home{
    display: inline-block;
    background-color:#c2994e;
    color: black;
    width: max-content;
    padding: 1rem 2rem;
    border-radius: 75rem;
    height: 25px;
}
/* Estilos para el botón al pasar el mouse */
.boton_home:hover {
    background-color: #0056b3;
}
.grid {
    width: 100%;
    max-width: 1100px;
    grid-template-columns: repeat(3,100px); 
    grid-template-rows: repeat(3,100px);
    grid-gap: 20px; /*Espacio entre las imagenes del drid*/
    height: 20%;
   
}
.imagen_1{
    width: 350px;
    height: 20%;
grid-row: span 1;
grid-column: 1;
}
.imagen_2{
    width: 380px;
    grid-row: span 2;
    grid-column: 1;
}
.imagen_3{
    width: 350px;
    height: 20%;
    grid-row: span 2;
    grid-column: 2;
}
.imagen_4{
    width: 500px;
    height: 40%;
    grid-row: span 1;
    grid-column: 2;
}
.imagen_5{
    width: 500px;
    height: 40%;
    grid-row: span 3;
    grid-column: 2;
}
.container_home2{
    width: 100%;
    margin: 5px;
    overflow: hidden; /*lo que sobra se esconde */ 
    background-color: #0a141d;
    /*box-shadow: 0px 1px 10px rgba(240, 11, 11, 0.623);*/ /* SOLO MUESTRA UN BORDE AL REDEDOR DE CADA CAJA */
    margin-left: 25px;
    margin-right: 20px;
    display: flex;  /*Permite poner las imagenes al lado del texto*/
    justify-content: flex-end; /*Texto del lado derecho*/
    border-radius: 0.5rem;
}

.container_home3{
    width: 25%;
    margin: 50px;
    overflow: hidden; /*lo que sobra se esconde */ 
    background-color: #0a141d;
    /*box-shadow: 0px 1px 10px rgba(240, 11, 11, 0.623);*/ /* SOLO MUESTRA UN BORDE AL REDEDOR DE CADA CAJA */
    margin-left: 625px; /*Margenes a la caja*/
    align-content: center;
    justify-content: center; /*Texto centrado*/
    border-radius: 0.5rem; /*Le quita las esquinas a la caja*/
    /*lo de abajo es de chatgpt*/
    width: 300px;
    height: 200px;
    background-color: #0a141d;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

/* --CSS DE FOOTER-- */

.pie-pagina{
    width:100%;
    background-color: #0a141d;

}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #c2994e;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #0a141d;
}
.pie-pagina .grupo-2{
    background-color: #c2994e;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}